body { 
    font-family: Arial, sans-serif;
    background-color: hsl(330, 100%, 98%);
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    color: rgba(105, 80, 80, 0.925)
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.prep-time {
    background-color: #f7eefc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.prep-time h2, .nutrition h2 {
    margin: 0;
    font-size: 1.2rem;
}

.prep-time p, .nutrition p {
    margin: 5px 0;
}

.ingredients, .instructions {
    margin-top: 20px;
}

.ingredients ul, .instructions ol {
    padding-left: 10px;
}

.ingredients ul li, .instructions ol li {
    margin-bottom: 10px;
}

.nutrition table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.nutrition th, .nutrition td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.nutrition td {
    color: rgba(105, 80, 80, 0.925)
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}